@import "../../../styles/Variable.scss";

.md-content {
  font-size: 1.3rem;
  line-height: 2.5rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  pre {
    background: #f8f8f8;

    margin: 2rem 0;
    code > * {
      margin-left: 0.2rem;
    }
  }

  blockquote {
    color: #666;
    margin: 2rem 0;
    padding-left: 3em;
    border-left: 0.5em $main-color solid;
    background-color: white;
    padding: 1.5rem;
  }
}
