figure {
  width: 100%;
  height: 100vh;
  padding: 15rem 12rem 12rem 12rem;
  gap: 3rem;
  display: grid;
  // grid-template-columns: 0.4fr 2.25fr 0.45fr;
  grid-template-columns: 15% 65% 20%;
  grid-template-rows: 0.7fr 1.3fr;
  grid-template-areas:
    "aside main nav"
    "side  main nav";
  .profile { grid-area: aside; }
  .serises { grid-area: side; }
  .main-content { grid-area: main; }
  .tagList { grid-area: nav; }
}

